@use "../abstracts/variables";
@use "../abstracts/mixins";

:root {
  font-size: 62.5%;
}

.container {
  width: 1440px;

  @include mixins.respond(variables.$breakpoint-phone) {
    width: 480px;
  }
}
