@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $primary-color;
  }
}

.home {
  @include flexCenter;
  flex-direction: column;
  height: 80vh;
  font-family: $primary-font;

  img {
    width: 30rem;
  }

  .home_header {
    font-size: 5rem;
    font-weight: 600;
    color: $primary-color;
  }

  .home_text {
    padding: 2rem 0 0 0;
    font-size: 1.9rem;
    text-align: center;
    font-weight: 500;

    &:nth-child(1) {
      padding-top: 6rem;
    }
  }

  .typeEffect {
    overflow: hidden;
    border-right: 0.15em solid $primary-color;
    white-space: nowrap;
    animation: blink-caret 0.75s step-end infinite;
  }
}
