@use "../abstracts/variables";
@use "../abstracts/mixins";

.noPage {
  @include mixins.flexCenter;
  flex-direction: column;
  font-family: variables.$primary-font;
  height: 80vh;

  &_img {
    width: 150px;
  }

  &_text {
    font-size: 2rem;
    font-weight: 500;
    padding-top: 1rem;
    text-align: center;

    &:nth-of-type(1) {
      padding-top: 3rem;
    }
  }
}
