@use "../abstracts/variables";

@mixin flexCenter($justifyContent: center) {
  display: flex;
  align-items: center;
  justify-content: $justifyContent;
}

@mixin fixedLayout {
  @include flexCenter;
  background-color: variables.$primary-color;
  height: 10vh;
}
