@use "../abstracts/variables";

@mixin flexCenter($justifyContent: center) {
  display: flex;
  align-items: center;
  justify-content: $justifyContent;
}

@mixin fixedLayout {
  @include flexCenter;
  background-color: variables.$primary-color;
  height: 10vh;
  
  @include respond(variables.$breakpoint-phone) {
    @include flexCenter;
    background-color: variables.$primary-color;
    height: 12rem;
  }
}

@mixin respond($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
