@mixin flexCenter($justifyContent: center) {
  display: flex;
  align-items: center;
  justify-content: $justifyContent;
}

@mixin fixedLayout {
  @include flexCenter;
  background-color: $primary-color;
  height: 10vh;
}
