@use "../abstracts/variables";
@use "../abstracts/mixins";

.footer {
  @include mixins.fixedLayout();
  color: variables.$third-color;
  font-size: 1.6rem;
  font-family: variables.$primary-font;
  position: absolute;
  width: 100%;

  .footer-container {
    display: flex;
    justify-content: space-between;
    text-align: justify;

    .footer_text {
      &:nth-child(2) {
        margin: 5px 0;
      }
    }
  }

  &_icons {
    font-size: 3rem;
    text-align: center;
    text-decoration: none;

    p {
      font-size: 1.5rem;
    }

    a {
      outline: none;
    }

    i {
      margin: 1rem 0.5rem;
      color: variables.$third-color;

      &:hover {
        color: variables.$fourth-color;
      }
    }
  }
}
