@use "../abstracts/variables";
@use "../abstracts/mixins";

.nav {
  @include mixins.fixedLayout;

  .nav-container {
    display: flex;
    justify-content: space-between;

    &_logo {
      @include mixins.flexCenter($justifyContent: space-between);
      flex-direction: row;
      width: 195px;
      font-family: variables.$second-font;
      font-size: 35px;
      color: variables.$third-color;
    }

    &_menu {
      @include mixins.flexCenter;

      &-link {
        text-decoration: none;
        color: variables.$fourth-color;
        font-weight: 600;
        font-size: 3rem;
        font-family: variables.$primary-font;
        outline: none;
        padding: 2.3rem 3.5rem;
      }
    }
  }
}
